.memory-tile-image {
  height: 200px;
  width: 200px;
  border: black solid 1px;
}

#game-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.memory-tile {
  margin-left: auto;
  margin-right: auto;
}